<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {186, 650}}</string>
		<string>{{187, 0}, {849, 650}}</string>
	</array>
	<key>binderWidth</key>
	<real>234</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{401, 0}, {400, 620}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1030</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {246, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>2 106 1036 672 0 0 1280 778 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3812ACCE-D2C6-45F8-890F-F8B892D33AAE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9D9F1E4D-ADEF-4F39-AA22-1E14D53B5316</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3812ACCE-D2C6-45F8-890F-F8B892D33AAE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>899FE49B-425F-4FFA-8E63-A8E59B1DCA1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1F35E4C3-65CD-4C58-8145-233A4644EE0E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>313AD256-14DB-47EE-914F-461C6660BFB7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>57946E55-F75A-4852-A859-6AF45E987B13</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>61E2D583-F34D-4CD2-AC6E-43DF61949A0F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E22EE7DC-4F4B-4F08-A9F2-5A0242FFAEEE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CC5357B9-72D1-4EF7-99E8-3A88901A30E9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7D3A7B47-40C7-4D0D-B2A9-F393A00C3A96</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>313AD256-14DB-47EE-914F-461C6660BFB7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8DDFB9F3-9E87-421C-AACE-3C319DD5D1D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E22EE7DC-4F4B-4F08-A9F2-5A0242FFAEEE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8DDFB9F3-9E87-421C-AACE-3C319DD5D1D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E22EE7DC-4F4B-4F08-A9F2-5A0242FFAEEE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BFA970F-9C14-4D6B-A066-7CED65D8B3C4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>443D8F26-28D7-4B18-A1E3-1D3CB56C59BB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E8C155E-AB45-42E8-95A9-CCFEFD34BCFA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>629C616F-17D8-461B-A7DD-F1DB33CC933D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E21A910-F244-47CD-8DF8-1F49B636D6A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>629C616F-17D8-461B-A7DD-F1DB33CC933D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
					<string>7424E320-6DC9-4C66-B6D0-8F50B6B72630</string>
					<string>EFF5E41C-5290-4758-84AE-256D851EDE1D</string>
					<string>73ADCC03-9E07-4C00-B2FA-C9C245070809</string>
					<string>F0B8B08E-BC5D-43E7-B183-DFD0F0E0C585</string>
					<string>08B5197B-6860-4593-8642-A04A11468D1B</string>
					<string>0544F5AD-1BD2-4FA0-B227-6AB5BE406743</string>
					<string>CE1E0982-030B-48CE-8402-879C3F3B79E3</string>
					<string>A1416F0E-CB12-4944-BAE8-F8F7149CD3D9</string>
					<string>C91381F1-AA35-4056-AF95-315E4D1F4061</string>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
					<string>686281E0-ED47-4FB2-A6D6-B082ABDDC3E4</string>
					<string>61E2D583-F34D-4CD2-AC6E-43DF61949A0F</string>
					<string>AF6ACE4F-8673-4C58-8380-B8E9686046D5</string>
					<string>A6829891-664F-4E9D-AED5-0FEC3B9FC615</string>
					<string>BEECC7A6-E52F-4920-9BB6-C83E2E3983D4</string>
					<string>4FB14716-762F-4B47-9FAB-18C9FD3F0BB5</string>
					<string>9929861D-C0FA-4FD5-80BB-12AF4D97BA65</string>
					<string>B8B39B39-97E8-4B76-B188-136E949E5BF5</string>
					<string>87008E30-481B-4A69-A2F2-39C16909A1F4</string>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
					<string>11E72767-92D9-45A8-A39F-C120C7E87C7E</string>
					<string>7D3A7B47-40C7-4D0D-B2A9-F393A00C3A96</string>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
					<string>313AD256-14DB-47EE-914F-461C6660BFB7</string>
					<string>CC5357B9-72D1-4EF7-99E8-3A88901A30E9</string>
					<string>E22EE7DC-4F4B-4F08-A9F2-5A0242FFAEEE</string>
					<string>8DDFB9F3-9E87-421C-AACE-3C319DD5D1D6</string>
					<string>549F793F-A507-44E1-984D-379BE4A50391</string>
					<string>584BC59D-1ED9-4AD0-BBCC-3D37EC9FD9EB</string>
					<string>47EC669F-0B9C-412D-8858-019902CE5721</string>
					<string>A25040BB-F167-4734-9004-4FC9646B244A</string>
					<string>1E8E0BA8-BB71-46A1-B5D9-FCC57304854B</string>
					<string>415EFBF5-B693-44C7-BA48-5F5D15D8BD5D</string>
					<string>CEE5D202-448F-4C60-8C87-A9265198C65A</string>
					<string>767889DB-4A78-4BD5-B504-7CC3D6889946</string>
					<string>AC5C9680-44A3-4B30-AC53-69B7EC3A738A</string>
					<string>87C6B5FD-CA25-44F5-A091-92F3863D5223</string>
					<string>168DBB51-8E09-4DA0-9067-E82D595CA65D</string>
					<string>706C62CD-8914-4819-9E34-038D3F77A99F</string>
					<string>5EF734CC-C49D-4F8D-927B-1CB183600415</string>
					<string>73730620-B07B-4AF4-9EE2-6A5D80BD03E3</string>
					<string>FB7C8AA9-A58E-4098-A801-B92714E78F34</string>
					<string>288E8334-30C5-4895-9882-A20C47B9F49E</string>
					<string>CC5A67F4-E270-493F-8752-97E3F221976A</string>
					<string>FD729F97-4509-4164-8094-073CA1BB06DD</string>
					<string>6C970CB4-BF75-4D23-9919-85F4BF0E205A</string>
					<string>9D9F1E4D-ADEF-4F39-AA22-1E14D53B5316</string>
					<string>3812ACCE-D2C6-45F8-890F-F8B892D33AAE</string>
					<string>899FE49B-425F-4FFA-8E63-A8E59B1DCA1D</string>
					<string>1F35E4C3-65CD-4C58-8145-233A4644EE0E</string>
					<string>57946E55-F75A-4852-A859-6AF45E987B13</string>
					<string>9BFA970F-9C14-4D6B-A066-7CED65D8B3C4</string>
					<string>443D8F26-28D7-4B18-A1E3-1D3CB56C59BB</string>
					<string>2E8C155E-AB45-42E8-95A9-CCFEFD34BCFA</string>
					<string>629C616F-17D8-461B-A7DD-F1DB33CC933D</string>
					<string>8E21A910-F244-47CD-8DF8-1F49B636D6A2</string>
					<string>A9E2F85E-5B47-43EB-A1CE-36604B999288</string>
					<string>6B2C206F-9A3E-4E34-AD86-749E78588BB2</string>
					<string>95B61BCA-5A89-4B86-9771-0140469051A8</string>
					<string>A7E9A0BC-3958-4463-8713-AE1AA586E92A</string>
					<string>F54EE091-64E3-4768-9678-7DEDDE193DE0</string>
					<string>4DD5D663-37A4-4F17-B77D-027909CA84A5</string>
					<string>EA100F09-5268-4036-9691-6E1FC9F9764D</string>
					<string>B1CE716E-B10F-4E8B-823F-D5AFF6B716D0</string>
					<string>1640C833-0BF4-4FB6-AA28-0F618A046E0B</string>
					<string>4EA08E3D-E0B3-43F8-8448-0D52CE499C4B</string>
					<string>4C6DB97C-2A63-49EB-B8C2-F3624CDE0575</string>
					<string>6961E060-06CD-46A8-A58B-E4D3032291FE</string>
					<string>D531BA61-26D7-4392-BAAA-909FEA1E1D7A</string>
					<string>598CFA29-DCCF-4F43-A154-5A2297DF9135</string>
					<string>779C030F-F51E-4BA2-BB32-CD77B6653CC8</string>
					<string>2B52B381-6F35-492E-B758-281DC2B7448A</string>
					<string>7A37F593-D21A-4F02-A8C7-D87A2FB4D07B</string>
					<string>5CECF1DA-22E0-47BA-B994-66C886B8053D</string>
					<string>0AC2C98E-EAE6-4430-A4A4-1B5316997D10</string>
					<string>74882803-D20C-43FB-9451-67A2DA3DF0E3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BFA970F-9C14-4D6B-A066-7CED65D8B3C4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E21A910-F244-47CD-8DF8-1F49B636D6A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6961E060-06CD-46A8-A58B-E4D3032291FE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>598CFA29-DCCF-4F43-A154-5A2297DF9135</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>73ADCC03-9E07-4C00-B2FA-C9C245070809</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5CECF1DA-22E0-47BA-B994-66C886B8053D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7A525C2C-3894-4F55-9D72-B3E90A2EDC8A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C39A96AF-FC48-4F83-81C2-5909E6DD09A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BEECC7A6-E52F-4920-9BB6-C83E2E3983D4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>686281E0-ED47-4FB2-A6D6-B082ABDDC3E4</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>92358811-4268-4407-9E03-E225CCCD99D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>18FF2616-08BA-45D1-B0F7-A99C2D1B87C5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>794B2736-CA9E-448E-961B-7B199CBC7539</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>18FF2616-08BA-45D1-B0F7-A99C2D1B87C5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>794B2736-CA9E-448E-961B-7B199CBC7539</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5ACA8D5F-DBA5-420A-9C46-893AFF9FFAA9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0BCBF4C5-E2D8-4E44-BFA1-391980010B74</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7424E320-6DC9-4C66-B6D0-8F50B6B72630</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {476.57142857142856, 322.28571428571428}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
