<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {234, 650}}</string>
		<string>{{235, 0}, {801, 650}}</string>
	</array>
	<key>binderWidth</key>
	<real>234</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{401, 0}, {400, 620}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1030</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {246, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>195 106 1036 672 0 0 1280 778 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBA2412A-3E72-41DB-BF2F-B71FA7DD56EA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5ACA8D5F-DBA5-420A-9C46-893AFF9FFAA9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>794B2736-CA9E-448E-961B-7B199CBC7539</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B55F3FD9-8A8B-4E54-AE11-E372866E1730</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>96B94C3A-DEC8-48A3-817E-F86514F254B5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD10B845-CB6A-461E-9A5B-C25D645A5F1A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5ACA8D5F-DBA5-420A-9C46-893AFF9FFAA9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>18FF2616-08BA-45D1-B0F7-A99C2D1B87C5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD10B845-CB6A-461E-9A5B-C25D645A5F1A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F73B406A-3665-4502-B9A8-72BC47B6EAC5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5ACA8D5F-DBA5-420A-9C46-893AFF9FFAA9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ED11EC45-C91F-43B0-98BB-1608D02DE1CA</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F73B406A-3665-4502-B9A8-72BC47B6EAC5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF6ACE4F-8673-4C58-8380-B8E9686046D5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E04026F-5065-4A6D-B2F3-6BF03482F185</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DFE42AAF-28AE-4822-8B9B-82D23EF45E1D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D21B8338-4CB1-4C4C-B8D1-6D725C999388</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>61E2D583-F34D-4CD2-AC6E-43DF61949A0F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7424E320-6DC9-4C66-B6D0-8F50B6B72630</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>686281E0-ED47-4FB2-A6D6-B082ABDDC3E4</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A6829891-664F-4E9D-AED5-0FEC3B9FC615</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7F6051-C86E-48B9-BC0F-55182AEDA310</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F93509FB-52CE-4035-8BB0-56F86DA16A71</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BED2368C-C7D9-4C99-83D5-0EDC809E7EA6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67804392-098B-4197-9DE7-EB5EFC1F5C78</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7424E320-6DC9-4C66-B6D0-8F50B6B72630</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>629C616F-17D8-461B-A7DD-F1DB33CC933D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>95B61BCA-5A89-4B86-9771-0140469051A8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A7E9A0BC-3958-4463-8713-AE1AA586E92A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F54EE091-64E3-4768-9678-7DEDDE193DE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E8C155E-AB45-42E8-95A9-CCFEFD34BCFA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0544F5AD-1BD2-4FA0-B227-6AB5BE406743</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE1E0982-030B-48CE-8402-879C3F3B79E3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>08B5197B-6860-4593-8642-A04A11468D1B</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0544F5AD-1BD2-4FA0-B227-6AB5BE406743</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0B8B08E-BC5D-43E7-B183-DFD0F0E0C585</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>73ADCC03-9E07-4C00-B2FA-C9C245070809</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EFF5E41C-5290-4758-84AE-256D851EDE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>61E2D583-F34D-4CD2-AC6E-43DF61949A0F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EFF5E41C-5290-4758-84AE-256D851EDE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E21A910-F244-47CD-8DF8-1F49B636D6A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BFA970F-9C14-4D6B-A066-7CED65D8B3C4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9E2F85E-5B47-43EB-A1CE-36604B999288</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE1E0982-030B-48CE-8402-879C3F3B79E3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>686281E0-ED47-4FB2-A6D6-B082ABDDC3E4</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>87008E30-481B-4A69-A2F2-39C16909A1F4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6B2C206F-9A3E-4E34-AD86-749E78588BB2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BFA970F-9C14-4D6B-A066-7CED65D8B3C4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 26558.799999999999}, {620, 451.20000000000073}}</string>
	<key>supportingDocumentEditor.selectedTextRanges</key>
	<string>747,0</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
