<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {186, 650}}</string>
		<string>{{187, 0}, {849, 650}}</string>
	</array>
	<key>binderWidth</key>
	<real>234</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{401, 0}, {400, 620}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1030</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {246, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98E9B04A-E8A6-44F2-A1D5-12B25E69EFC1</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>493 106 1036 672 0 0 1280 778 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D21B8338-4CB1-4C4C-B8D1-6D725C999388</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C00A911C-8C97-4BD7-9B7E-244380ABAC14</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>55D7B94A-ADBD-4784-918F-953ACDC23DCC</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EAE52483-0E56-4A47-8201-69B9511EEC38</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8EDC0C59-AAF0-4EC2-8CB4-404F0C8297A3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ADE4F643-DC63-424F-8E58-8443AC747CD8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C91381F1-AA35-4056-AF95-315E4D1F4061</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9F10E260-464E-4A59-8967-BCF57B8F11E6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0C7DB31-0E8D-4032-A799-C0B2541A0400</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>891292DE-3AE1-4E08-99B9-E0B23E76CDC9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9F10E260-464E-4A59-8967-BCF57B8F11E6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>891292DE-3AE1-4E08-99B9-E0B23E76CDC9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>92358811-4268-4407-9E03-E225CCCD99D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0C7DB31-0E8D-4032-A799-C0B2541A0400</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7BB27463-77CB-4EC0-AD1B-B43FE27CC59A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>92358811-4268-4407-9E03-E225CCCD99D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0C7DB31-0E8D-4032-A799-C0B2541A0400</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FF687EF4-988F-4FC2-9EF4-9D0C7D1E8C21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19601267-27E0-4823-8F47-17F00176A536</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>39D447DB-8717-4230-AFD0-7E9AC1694E19</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>02FC6675-938A-4DE4-BCE2-27491E19BDAE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F3884A6B-40C9-4044-8C22-8DE2232BF212</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>02FC6675-938A-4DE4-BCE2-27491E19BDAE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F744660-C046-44D5-9955-313965C7F01A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>74882803-D20C-43FB-9451-67A2DA3DF0E3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2676FD4F-2231-47C5-844D-44BDB14B680C</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>19D00FB1-3344-4BE4-80C6-C2EFE16602E1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>61E2D583-F34D-4CD2-AC6E-43DF61949A0F</string>
					<string>AF6ACE4F-8673-4C58-8380-B8E9686046D5</string>
					<string>A6829891-664F-4E9D-AED5-0FEC3B9FC615</string>
					<string>BEECC7A6-E52F-4920-9BB6-C83E2E3983D4</string>
					<string>4FB14716-762F-4B47-9FAB-18C9FD3F0BB5</string>
					<string>9929861D-C0FA-4FD5-80BB-12AF4D97BA65</string>
					<string>B8B39B39-97E8-4B76-B188-136E949E5BF5</string>
					<string>87008E30-481B-4A69-A2F2-39C16909A1F4</string>
					<string>59AE72CB-92E6-43EC-97BB-7AAF4769A81F</string>
					<string>3C510C2B-6BB2-42FD-9028-8A8383446620</string>
					<string>C3B8C0C6-7EEA-4188-82BD-55151102F1BD</string>
					<string>AFC4A639-C682-45BD-AD9B-31A1B56820BD</string>
					<string>2A444D46-B6C9-461E-8C04-DF04D820AB05</string>
					<string>B7E0AC60-55B5-4AEC-9AC5-BBB38534A1D8</string>
					<string>7AEC038B-97D2-42CD-A436-38B2BAAC7957</string>
					<string>524F11E6-0B9B-4903-91BC-FB16E863A89B</string>
					<string>58AD224A-56E3-4A50-8190-CE4C982CD1E8</string>
					<string>F2616DE8-3607-43F5-9F84-8D6320032647</string>
					<string>5FC77F06-533E-42A0-8CD2-A6F3EF2A40DA</string>
					<string>8D7E6102-4439-4065-AD59-11BE3458A807</string>
					<string>BD2E1B3E-4AF6-4D89-92CF-30E3BF7B8D7F</string>
					<string>02BB7EE4-8AC4-44F2-BDA8-D65E97F14FE6</string>
					<string>7980FD97-8F43-47F2-A6B2-8600677D70FB</string>
					<string>BAFD280D-6F6B-4DC1-8BFD-723DA33593D7</string>
					<string>D5625D3A-E4B3-4E41-8D72-5613E271C73B</string>
					<string>239EC0C0-0BB0-4EFE-B1C7-3DA6BF014E0D</string>
					<string>D541EA63-0CB9-4766-92F5-069B3E955ADF</string>
					<string>04B4F4F9-0F81-44CE-943B-2EDCA06D459B</string>
					<string>10F0DFDB-26B5-4C46-8595-14E6B5303AFB</string>
					<string>2EA60B24-2345-4641-ACBC-50FF7D187D91</string>
					<string>1A56CE42-D098-4B43-B54E-B0339A1D3A43</string>
					<string>85432DCE-E98E-44F1-B638-91B22E28EF58</string>
					<string>EC1F6400-22A1-4133-B230-BE2DBA4D8E93</string>
					<string>F0610811-560F-416C-925D-FA2194E08BE3</string>
					<string>F849727C-C976-4968-919B-96E700F21FAA</string>
					<string>BE9F7C2A-3273-4F8B-AC94-15CD0443A92B</string>
					<string>19D00FB1-3344-4BE4-80C6-C2EFE16602E1</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0BB1C16-A831-4A87-BEF3-6939DAA6EABD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>12C95B34-166B-4A4C-B2C2-99427ED56909</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0BB1C16-A831-4A87-BEF3-6939DAA6EABD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0878EB88-095F-4313-9736-956E9FB57473</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D7885-BFDA-4FB1-8E1C-4F5774E0778D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>872DB904-7071-404F-828C-75E08189E096</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21053052-E47F-4772-BCB4-17EC6B0C2854</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67804392-098B-4197-9DE7-EB5EFC1F5C78</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0BB1C16-A831-4A87-BEF3-6939DAA6EABD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67804392-098B-4197-9DE7-EB5EFC1F5C78</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D0BB1C16-A831-4A87-BEF3-6939DAA6EABD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BED2368C-C7D9-4C99-83D5-0EDC809E7EA6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F059D01-5601-4DEB-B2C1-6FC6181CA596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9F1DFEC-1685-4A4C-94CA-6F3488BAF8FF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F573BF27-9E87-4C46-95F3-2DC49E23FA72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>02FC6675-938A-4DE4-BCE2-27491E19BDAE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD9E202A-A848-4C04-B1DF-342B13D88B58</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC94C71-4E63-427A-B39A-74AC3B526979</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5ACA8D5F-DBA5-420A-9C46-893AFF9FFAA9</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BD10B845-CB6A-461E-9A5B-C25D645A5F1A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32A8F7E4-C175-4E09-AFBD-1955C352216D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6781BD68-1865-4158-95F0-AECAE19CBA44</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>74882803-D20C-43FB-9451-67A2DA3DF0E3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>794B2736-CA9E-448E-961B-7B199CBC7539</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>18FF2616-08BA-45D1-B0F7-A99C2D1B87C5</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2676FD4F-2231-47C5-844D-44BDB14B680C</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E9B15A51-CC8A-4942-B278-89F47EAEE1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2676FD4F-2231-47C5-844D-44BDB14B680C</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2676FD4F-2231-47C5-844D-44BDB14B680C</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4451C038-4B55-4163-894F-C6883B6D649E</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {556, 376}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
